
<div class="card flex ">
    <input pInputText id="konu"  placeholder="Konu" [(ngModel)]="subject" style="width: 100%;" />
</div>



<div class="card " style="margin-top: 20px;">
    <span class="p-float-label">
        <textarea id="float-input" rows="5" cols="30" style="width: 100%;" pInputTextarea></textarea>
        <label for="float-input">Summary</label>
    </span>
</div>
<div class="card" style="margin-top: 30px;">
    <p-toast></p-toast>
    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="100000000" chooseLabel="Dosya Seçimi" cancelLabel="Vazgeç" uploadLabel="Dosyayı Kaydet">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>
<div class="card" >
<p-button label="Oluştur" [style]="{width: '100%'}"  [raised]="true" severity="success"></p-button>
</div>