<div class="container">
    <div class="card-background">
        <div class="card" style="width: 18rem; ">
            <div class="card-body">
                <div class="img-center">
                    <img src="https://www.nist.gov/sites/default/files/images/2022/03/29/Survey.png" class="card-img-top" >
                </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Survey</h5>
              <p class="card-text">Create a new survey to gather valuable insights and feedback.</p>
              <a href="#" class="btn btn-primary">Survey Add</a>
            </div>
          </div>
    </div>
    <div>
        <a class="nav-link">Son Formlar</a>
    </div>
   

</div>